<div *ngIf="isSubmitted && passwordControl && passwordControl.errors">
  <div *ngIf="passwordControl.errors['required']" class="text-red-600 text-sm">Password is required</div>
  <div *ngIf="passwordControl.errors['minlength']" class="text-red-600 text-sm">Password must contain
    {{ passwordControl.errors['minlength'].requiredLength }} characters
  </div>
  <div *ngIf="passwordControl.errors['pattern']" class="text-red-600 text-sm">Password must contain uppercase, lowercase and a number</div>
</div>