<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">EventHub</span>
  </a>
  <hr>
 <ul class="nav nav-pills flex-column mb-auto">
<li class="nav-item">
  <router-link class="nav-link" [routerLink]="['./list']" [routerLinkActive]="['active']">
    <svg class="bi pe-none me-2" width="16" height="16">
      <use xlink:href="#home"></use>
    </svg>
    Events List
  </router-link>
</li>

<li>
  <router-link class="nav-link " [routerLink]="['./my-events']" [routerLinkActive]="['active']">
    <svg class="bi pe-none me-2" width="16" height="16">
      <use xlink:href="#table"></use>
    </svg>
    My Events
  </router-link>
</li>
 </ul>
  <hr>
  <!-- Removed the user profile dropdown -->
  <button class="btn btn-outline-primary mt-auto" (click)="logout()">Logout</button>
</div>