<!-- event-list.component.html -->
<section>
  <div class="container-lg py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Events</h2>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEventModal">
        Add Event
      </button>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 cross-card mb-5">
      <div class="col" *ngFor="let event of events">
        <app-event-list-item [eventDate]="event.date" [eventTitle]="event.title" [eventDescription]="event.description" [eventLocation]="event.location" [eventTime]="event.time" [eventMapLink]="event.mapLink" (click)="openEditModal(event)"></app-event-list-item>

      </div>
    </div>
  </div>
  <app-add-event-modal (eventAdded)="addEvent($event)"></app-add-event-modal>
  <!-- <app-edit-event-modal [event]="selectedEvent" (eventUpdated)="updateEvent($event)" (eventDeleted)="deleteEvent($event)"></app-edit-event-modal> -->

</section>